  <img src="/public/assets/img/burgerpic.jpeg" class="rounded mx-auto my-3 d-block">

  <div class="container">
      <div class="row">
          <div class="col-6 mx-auto">
          <div class="input-group mb-3">
              <input type="text" class="form-control" id="burger-text" placeholder="Eat an available burger, or make your own.">
              <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="submit">FEED ME!</button>
              </div>
          </div>
          </div>

      </div>
      <div class="row justify-content-around">
          <div class="col-4">
              <div>
                  {{#each burgers}} {{#unless this.devoured}}
                  <div class="card">
                      <div class="card-body">
                          {{this.id}}. {{this.burger_name}}
                          <button type="button" class="btn btn-warning float-right btn-sm devourButton" id="devourBtn" data-id="{{this.id}}">Devour</button>
                      </div>
                  </div>
                  {{/unless}} {{/each}}
              </div>
          </div>
          <div class="col-4">
              <div>
                  {{#each burger}} {{#if this.devoured}}
                  <div class="card">
                      <div class="card-body">
                          {{this.id}}. {{this.burger_name}}
                      </div>
                  </div>
                  {{/if}} {{/each}}
              </div>
          </div>
      </div>
  </div>
